body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
   
}

.wrapper { 
    background: palevioletred;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
}

/* Fixing the incorrect closing brackets */
.wrapper .input-box {
    margin: 30px 0;
}